In [2]:
import pandas as pd 
path = pd.read_csv('world_population.csv')  # variable that hold the data as csv
raw_data=pd.DataFrame(path)  
raw_data.head() # to see row titles
#""" well, we do not need  rank,country abbreviation,or capital name,Area size,Density so lets clean them"""
cleaned_data=raw_data.drop(['Rank','CCA3','Capital','Area (km²)','Density (per km²)',
                            'World Population Percentage'],axis=1)
cleaned_data.head()  #first cleaning done 
cleaned_data.fillna(0) #to avoid NAN during our calculations 
#now need to resort them by Continent to calculate every Continent separately (which Continent going to extinct)

,Country/Territory,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Growth Rate
0,Afghanistan,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,1.0257
1,Albania,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,0.9957
2,Algeria,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,1.0164
3,American Samoa,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,0.9831
4,Andorra,Europe,79824,77700,71746,71519,66097,53569,35611,19860,1.0100
...,...,...,...,...,...,...,...,...,...,...,...
229,Wallis and Futuna,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,0.9953
230,Western Sahara,Africa,575986,556048,491824,413296,270375,178529,116775,76371,1.0184
231,Yemen,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,1.0217
232,Zambia,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,1.0280
233,Zimbabwe,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,1.0204

In [71]:
data_sorted=cleaned_data.sort_values(by=['Continent'],ignore_index=True)  #  all sorted by continent name 
# for every continent  we need to sum up the numbers  for every year  and store them as dict 
#ignore_index is crucial to reindex  according to the sorted data deleting old indecies 
# ex: africa={year:count} 
count=0
head_list=[i for i in data_sorted.head(0)] # will be used in the loop to match the year
Continents_set={i for i in data_sorted['Continent'] } # set of continents  to be used in for loop
Continents=sorted([i for i in Continents_set]) # as every time called order may change  lists are safer
years_list=head_list[2:-1]  # now we have list for each year 
# now we can use continents set,years list and sorted data to create our continents list dict
Continents
suM=0
final_list=[]
for i in data_sorted.head(0) :
    for j in years_list:
        if i==j : # when years match 
            for k in range(len(Continents)):
                for m in range(len(data_sorted['Continent'])):
                    if Continents[k]==data_sorted['Continent'][m]:
                        suM+=data_sorted[i][m]
                        
                    
                if suM>0:# to ignore cases of unmatch(zeros) 
                    final_list.append([Continents[k],{j:suM}])
                suM=0;
                        #break;
        else :
            pass;               
#data_sorted.tail(5) # why south america not appearing !!
                   #need to convert it backc to data frame to practise some visualization
Continents

['Africa', 'Asia', 'Europe', 'North America', 'Oceania', 'South America']

In [72]:
final_list  # here we go

[['Africa', {'2022 Population': 1426730932}],
 ['Asia', {'2022 Population': 4721383274}],
 ['Europe', {'2022 Population': 743147538}],
 ['North America', {'2022 Population': 600296136}],
 ['Oceania', {'2022 Population': 45038554}],
 ['South America', {'2022 Population': 436816608}],
 ['Africa', {'2020 Population': 1360671810}],
 ['Asia', {'2020 Population': 4663086535}],
 ['Europe', {'2020 Population': 745792196}],
 ['North America', {'2020 Population': 594236593}],
 ['Oceania', {'2020 Population': 43933426}],
 ['South America', {'2020 Population': 431530043}],
 ['Africa', {'2015 Population': 1201102442}],
 ['Asia', {'2015 Population': 4458250182}],
 ['Europe', {'2015 Population': 741535608}],
 ['North America', {'2015 Population': 570383850}],
 ['Oceania', {'2015 Population': 40403283}],
 ['South America', {'2015 Population': 413134396}],
 ['Africa', {'2010 Population': 1055228072}],
 ['Asia', {'2010 Population': 4220041327}],
 ['Europe', {'2010 Population': 735613934}],
 ['North America', {'2010 Population': 542720651}],
 ['Oceania', {'2010 Population': 37102764}],
 ['South America', {'2010 Population': 393078250}],
 ['Africa', {'2000 Population': 818946032}],
 ['Asia', {'2000 Population': 3735089604}],
 ['Europe', {'2000 Population': 726093423}],
 ['North America', {'2000 Population': 486069584}],
 ['Oceania', {'2000 Population': 31222778}],
 ['South America', {'2000 Population': 349634282}],
 ['Africa', {'1990 Population': 638150629}],
 ['Asia', {'1990 Population': 3210563577}],
 ['Europe', {'1990 Population': 720320797}],
 ['North America', {'1990 Population': 421266425}],
 ['Oceania', {'1990 Population': 26743822}],
 ['South America', {'1990 Population': 297146415}],
 ['Africa', {'1980 Population': 481536377}],
 ['Asia', {'1980 Population': 2635334228}],
 ['Europe', {'1980 Population': 692527159}],
 ['North America', {'1980 Population': 368293361}],
 ['Oceania', {'1980 Population': 22920240}],
 ['South America', {'1980 Population': 241789006}],
 ['Africa', {'1970 Population': 365444348}],
 ['Asia', {'1970 Population': 2144906290}],
 ['Europe', {'1970 Population': 655923991}],
 ['North America', {'1970 Population': 315434606}],
 ['Oceania', {'1970 Population': 19480270}],
 ['South America', {'1970 Population': 192947156}]]