In [35]:
import pandas as pd 
import json 
import numpy as np
path = pd.read_csv('world_population.csv')  # variable that hold the data as csv
raw_data=pd.DataFrame(path)  
raw_data.head() # to see row titles
#well, we do not need  rank,country abbreviation,or capital name,Growth Rate,Density so lets clean them
cleaned_data=raw_data.drop(['Rank','CCA3','Capital','Growth Rate','Density (per km²)',
                            'World Population Percentage'],axis=1)
cleaned_data.head()  #first cleaning done 
cleaned_data.fillna(0) #to avoid NAN during our calculations 
#now need to resort them by Continent to calculate every Continent separately (which Continent going to extinct)

,Country/Territory,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²)
0,Afghanistan,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230
1,Albania,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748
2,Algeria,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741
3,American Samoa,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199
4,Andorra,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468
...,...,...,...,...,...,...,...,...,...,...,...
229,Wallis and Futuna,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142
230,Western Sahara,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000
231,Yemen,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968
232,Zambia,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612
233,Zimbabwe,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757

In [53]:
data_sorted=cleaned_data.sort_values(by=['Continent'],ignore_index=True)  #  all sorted by continent name 
# for every continent  we need to sum up the numbers  for every year  and store them as dict 
#ignore_index is crucial to reindex  according to the sorted data deleting old indecies 
# ex: africa={year:count} 
count=0
head_list=[i for i in data_sorted.head(0)] # will be used in the loop to match the year
Continents_set={i for i in data_sorted['Continent'] } # set of continents  to be used in for loop
Continents=sorted([i for i in Continents_set]) # as every time called order may change  lists are safer
years_list=head_list[2:-1]  # now we have list for each year 
# now we can use continents set,years list and sorted data to create our continents list dict
Continents
suM=0
area_sum=0  # to be fair we should consider total area of every continent (population density per km)
final_list=[]
density=[]
for i in data_sorted.head(0) :
    for j in years_list:
        if i==j : # when years match 
            for k in range(len(Continents)):
                for m in range(len(data_sorted['Continent'])):
                    if Continents[k]==data_sorted['Continent'][m]:
                        suM+=data_sorted[i][m]
                        area_sum+=data_sorted['Area (km²)'][m]  
                        
                    
                if suM>0:# to ignore cases of unmatch(zeros) 
                    #tried dict style but lists are much more easier and accessable here 
                    final_list.append([Continents[k],j,suM])  #total population
                    density.append(suM//area_sum)  #density of population /km
                suM=0;
                area_sum=0
                        #break;
        else :
            pass;               
#data_sorted.tail(5) # why south america not appearing !!
                   #need to convert it backc to data frame to practise some visualization
Continents

['Africa', 'Asia', 'Europe', 'North America', 'Oceania', 'South America']

In [54]:
continent_list=pd.DataFrame(final_list,columns=['continent','year','population'])  # here we go 
continent_list['density']=density
#continent_list['density']=np.arange(len(continent_list['continent']))  # messy shape 
continent_list

        continent             year  population  density
0          Africa  2022 Population  1426730932       47
1            Asia  2022 Population  4721383274      146
2          Europe  2022 Population   743147538       32
3   North America  2022 Population   600296136       24
4         Oceania  2022 Population    45038554        5
5   South America  2022 Population   436816608       24
6          Africa  2020 Population  1360671810       44
7            Asia  2020 Population  4663086535      145
8          Europe  2020 Population   745792196       32
9   North America  2020 Population   594236593       24
10        Oceania  2020 Population    43933426        5
11  South America  2020 Population   431530043       24
12         Africa  2015 Population  1201102442       39
13           Asia  2015 Population  4458250182      138
14         Europe  2015 Population   741535608       32
15  North America  2015 Population   570383850       23
16        Oceania  2015 Population    40403283        4
17  South America  2015 Population   413134396       23
18         Africa  2010 Population  1055228072       34
19           Asia  2010 Population  4220041327      131
20         Europe  2010 Population   735613934       31
21  North America  2010 Population   542720651       22
22        Oceania  2010 Population    37102764        4
23  South America  2010 Population   393078250       22
24         Africa  2000 Population   818946032       27
25           Asia  2000 Population  3735089604      116
26         Europe  2000 Population   726093423       31
27  North America  2000 Population   486069584       20
28        Oceania  2000 Population    31222778        3
29  South America  2000 Population   349634282       19
30         Africa  1990 Population   638150629       21
31           Asia  1990 Population  3210563577       99
32         Europe  1990 Population   720320797       31
33  North America  1990 Population   421266425       17
34        Oceania  1990 Population    26743822        3
35  South America  1990 Population   297146415       16
36         Africa  1980 Population   481536377       15
37           Asia  1980 Population  2635334228       82
38         Europe  1980 Population   692527159       30
39  North America  1980 Population   368293361       15
40        Oceania  1980 Population    22920240        2
41  South America  1980 Population   241789006       13
42         Africa  1970 Population   365444348       12
43           Asia  1970 Population  2144906290       66
44         Europe  1970 Population   655923991       28
45  North America  1970 Population   315434606       13
46        Oceania  1970 Population    19480270        2
47  South America  1970 Population   192947156       10

shortest way to see sharing of every continent in total population over time is pie chart per year that gather all 
6 continents  , slicing every consective 6  rows  => convert to pie chart  matplotlip needed